* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

@media (min-width: 320px) {
    #text-container {
        /* background-image: url("assets/medieval_city_1_light.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(50%); */
        height: 100vh;
        padding-inline: 1rem;
        display: grid;
        place-content: center;
    }

    .opening::before {
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        position: absolute;
        z-index: 1;
        background-image: url("assets/medieval_city_1_light.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(50%);
    }

    .start {
        position: absolute;
        top: 5.5em;
        left: 1.2em;
        z-index: 2;
        color: white;
        font-size: 2.5rem;
    }


    .player {
        display: flex;
        border-radius: 5px;
        align-items: center;
        position: absolute;
        padding: 0 10px;
        top: 5px;
        left: 1rem;
    }

    .player-profile {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .img-profile {
        display: none;
    }

    .text {
        margin-top: 1.5rem;
    }

    p {
        text-justify: inter-word;
        line-height: 1.5;
        text-align: justify;
    }

    .choices {
        display: grid;
        margin-top: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.8rem;

    }

    button {
        border: none;
        padding: 15px;
        border-radius: 7px;
    }


}

@media (min-width: 375px) and (max-width: 480px) {
    .player {
        border: none;
        display: flex;
        align-items: center;
        position: absolute;
        padding-left: 10px;
        top: 10px;
        left: 0;
    }

    .img-profile {
        display: block;
    }

    .player-profile {
        display:block
    }

}